.tickets-container-main {
  flex: 1;
  width: 100%;
  transition: margin-left 0.3s ease;
  display: flex;
}

.sidebar-open .left-column {
  margin: 0 10% 0 23%;
}

.image-eventcard img {
  width: 361px;
  height: 361px;
  border: 0.7px solid #000000;
  border-radius: 15px;
  user-select: none;
}

.left-column {
  flex: 1;
  margin: 0 13% 0 20%;
  transition: margin-left 0.3s ease;
}

.right-column {
  flex: 1;
  border-left: 1px solid #dadce0;
  padding: 20px;

  max-width: 562px;
  height: calc(100vh - 68px);
  overflow-y: auto;
}

.container-event {
  margin-top: 80px;
}

.container-event h1 {
  font-size: 40px;
  font-weight: 500;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 10px 0 60px 0;
}

.info-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-date p {
  color: #282a2d;
  font-size: 16px;
  font-weight: 500;
}

.container-details-event {
  display: flex;
  align-items: center;
  gap: 35px;
}

.container-qrcode {
  text-align: center;
}

.container-qrcode p {
  font-size: 19px;
  color: #17181b;
}

.container-qrcode h2 {
  font-size: 55px;
  font-weight: 500;
  color: #17181b;
}

.section-container-button {
  flex: 1;
  width: 100%;
}

.button-container-ticket {
  display: flex;
  align-items: center;
  margin: 0 0 0 40%;
  gap: 42px;
}

.button-container-ticket a {
  text-decoration: none;
  width: 207px;
}

.button-container-ticket a span {
  color: #0091e0;
  font-weight: 600;
  text-decoration: none;
}

.button-container-ticket > a {
  margin: 45px 0 45px 0;
}

.container-next-events h2 {
  font-size: 24px;
  font-weight: 500;
}

.container-next-events {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-container-ticket button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #008fde;
  cursor: pointer;
}
