.tickets-container-main {
  flex: 1;
  width: 850px;
  margin: 0 17%;
  transition: margin-left 0.3s ease;
}

.sidebar-open .tickets-container-main {
  margin-left: 25%;
}

.image-eventcard img {
  width: 361px;
  height: 361px;
  border: 0.7px solid #000000;
  border-radius: 15px;
}

.container-event {
  margin-top: 180px;
}

.container-event h1 {
  font-size: 40px;
  font-weight: 500;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 10px 0 60px 0;
}

.info-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-date p {
  color: #282a2d;
  font-size: 16px;
  font-weight: 500;
}

.container-details-event {
  display: flex;
  align-items: center;
  gap: 35px;
}