.custom-select label {
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;
}

.custom-select select {
    font-size: 16px;
}

.custom-select select {
    border: 1px solid #BDC1C6;
    border-radius: 7px;
    height: 50px;
    width: auto;
    padding-left: 20px;
}

.custom-select select::placeholder,
.custom-select select option[value=""][disabled] {
    color: #9AA0A6;
}

.custom-select {
    display: flex;
    flex-direction: column;
    gap: 5px;
}