.custom-input label {
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;
}

.custom-input input {
    font-size: 16px;
}

.custom-input input {
    border: 1px solid #BDC1C6;
    border-radius: 7px;
    height: 50px;
    width: auto;
    padding-left: 20px;
}

.custom-input input::placeholder {
    color: #9AA0A6;
}

.custom-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}