.authentication-container {
  transition: margin-left 0.3s ease;
}

.sidebar-open .container-main-authentication {
  transition: margin-left 0.3s ease;
  /* margin-left: 455px; */
  margin-left: 255px;
}

.container-main-authentication {
  flex: 1;
  /* max-width: 1215px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  /* margin-left: 385px; */
  margin-left: 105px;
  transition: margin-left 0.3s ease;
  align-items: center;
}

.container-authentication-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reder {
  margin-top: 40px;
  transform: scaleX(-1);
  background-image: url("../../assets/img_rederQR.png");
  background-repeat: no-repeat;
}

.guidance {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.input-container {
  margin-top: 20px;
  width: 400px;
}

.input-container .custom-input input {
  border: 1px solid #000000;
  border-radius: 7px;
  height: 50px;
  width: auto;
  padding-left: 20px;
}

.custom-input input {
  font-size: 16px;
}

.container-button-authentication {
  margin-top: 20px;
}

@media screen and (max-height: 790px) {
  .container-main-authentication {
    flex-direction: row;
    gap: 20px;
  }
}