.dashboard-container {
  transition: margin-left 0.3s ease;
}

.sidebar-open .dashboard-container-main {
  margin-left: 320px;
}

.dashboard-container-main {
  flex: 1;
  padding: 10px;
  margin-left: 186px;
  transition: margin-left 0.3s;
}

.dashboard-container-main {
  margin-top: 80px;
}

.dashboard-container-main h2 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}

.metrics {
  display: flex;
  gap: 15px;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  height: 114px;
  border-radius: 12px;
  padding: 28px;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  height: 114px;
  border-radius: 12px;
  padding: 22px;
  position: relative;
}

.registrations {
  background: rgb(24, 131, 126, 0.1);
}

.participations {
  background: rgb(0, 136, 74, 0.1);
}

.absences {
  background: rgb(0, 123, 192, 0.1);
}

.success-rate {
  background: rgb(158, 40, 150, 0.1);
}

.rectangle-metric {
  position: absolute;
  width: 16.68px;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 12px 0px 0px 12px;
}

.rectangle-registrations {
  background: #18837e;
}

.rectangle-participations {
  background: #00884a;
}

.rectangle-absences {
  background: #007bc0;
}

.rectangle-success-rate {
  background: #9e2896;
}

.metric p {
  font-weight: 400;
  font-size: 16px;
}

.metric h1 {
  font-weight: 500;
  font-size: 40px;
}

.participant-reviews {
  margin-top: 44px;
}

.reviews-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviews-title span {
  font-weight: 500;
  font-size: 12px;
  color: #9aa0a6;
}

.participant-reviews-main {
  display: flex;
}

.event-note {
  width: 410px;
  height: 85px;
  border: 1px solid #e8eaed;
  border-radius: 12px;
  padding: 11px 44px 11px 44px;
}

.note-content {
  display: flex;
  gap: 25px;
  align-items: center;
}

.note-content h1 {
  font-weight: 500;
  font-size: 40px;
}

.rate {
  display: flex;
  gap: 10px;
  align-items: center;
}

.event-note h3 {
  font-weight: 500;
  font-size: 20px;
}

.evaluations {
  width: 410px;
  height: 535px;
  border: 1px solid #e8eaed;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.event-reviews {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-reviews .evaluations :nth-child(1) .profile .circle {
  background-color: #e472db;
}

.event-reviews .evaluations :nth-child(2) .profile .circle {
  background-color: #7277e4;
}

.event-reviews .evaluations :nth-child(3) .profile .circle {
  background-color: #ffa36f;
}

.user-info {
  display: flex;
  gap: 18px;
  align-items: center;
}

.user-details {
  flex-direction: column;
}

.event-reviews .evaluations .profile {
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.event-reviews .evaluations .profile .circle {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: grid;
  place-items: center;
}

.event-reviews .evaluations .profile .row {
  align-items: baseline;
  gap: 10px;
  display: flex;
}

.event-reviews .evaluations .profile .row .comment-header .stars {
  display: flex;
  flex-direction: row;
}

.event-reviews .evaluations .profile .row .name {
  font-weight: 600;
  font-size: 16px;
  color: #0e1013;
}

.event-reviews .evaluations p {
  font-weight: 400;
  font-size: 14px;
}

.event-reviews .evaluations .circle p {
  font-weight: 500;
  font-size: 20px;
}

.event-reviews .evaluations .profile .row .month {
  font-weight: 400;
  font-size: 12px;
  color: #9aa0a6;
}

.event-reviews .evaluations .profile .comment-header .stars {
  gap: 2px;
  color: #ffcd4d;
}
