.dashboard-container {
  transition: margin-left 0.3s ease;
}

.sidebar-open .dashboard-container-main {
  margin-left: 320px;
}

.dashboard-container-main {
  flex: 1;
  padding: 10px;
  margin-left: 186px;
  transition: margin-left 0.3s;
}

.dashboard-container-main {
  margin-top: 80px;
}

.dashboard-container-main h2 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}

.metrics {
  display: flex;
  gap: 15px;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  height: 114px;
  border-radius: 12px;
  padding: 28px;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  height: 114px;
  border-radius: 12px;
  padding: 22px;
  position: relative;
}

.registrations {
  background: rgb(24, 131, 126, 0.1);
}

.participations {
  background: rgb(0, 136, 74, 0.1);
}

.absences {
  background: rgb(0, 123, 192, 0.1);
}

.success-rate {
  background: rgb(158, 40, 150, 0.1);
}

.rectangle-metric {
  position: absolute;
  width: 16.68px;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 12px 0px 0px 12px;
}

.rectangle-registrations {
  background: #18837e;
}

.rectangle-participations {
  background: #00884a;
}

.rectangle-absences {
  background: #007bc0;
}

.rectangle-success-rate {
  background: #9e2896;
}

.metric p {
  font-weight: 400;
  font-size: 16px;
}

.metric h1 {
  font-weight: 500;
  font-size: 40px;
}

.participant-reviews {
  margin-top: 44px;
}

.reviews-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviews-title span {
  font-weight: 500;
  font-size: 12px;
  color: #9aa0a6;
}

.participant-reviews-main {
  display: flex;
}

.event-note {
  width: 410px;
  height: 85px;
  border: 1px solid #e8eaed;
  border-radius: 12px;
  padding: 11px 44px 11px 44px;
}

.note-content {
  display: flex;
  gap: 25px;
  align-items: center;
}

.note-content h1 {
  font-weight: 500;
  font-size: 40px;
}

.rate {
  display: flex;
  gap: 10px;
  align-items: center;
}

.event-note h3 {
  font-weight: 500;
  font-size: 20px;
}
