.historic-container {
  display: flex;
  transition: margin-left 0.3s ease;
}

.sidebar-open .container-main-historic {
  margin-left: 300px;
}

.container-main-historic {
  flex: 1;
  padding: 20px;
  margin-left: 156px;
  transition: margin-left 0.3s;
}
