td,
th {
  padding: 18px;
  border: none;
  border-bottom: 1px solid #e8eaed;
}

.td-event-name {
  text-align: left;
}

.td-event-date {
  text-align: left;
}

.th-event-name {
  text-align: left;
}

.th-event-date {
  text-align: left;
}

.th-event-presence {
  padding-right: 30px;
}

table {
  border-collapse: collapse;
  white-space: nowrap;
  margin-bottom: 30px;
}

td {
  padding: 18px;
  text-align: center;
  font-size: 15px;
  color: #3c4043;
}

th {
  text-align: center;
  font-size: 18px;
  color: #17181b;
  font-weight: 600;
}

.th-column-1 {
  display: flex;
  width: 457px;
}

.container-event-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 28px;
  border-radius: 5px;
}

.container-event-area[data-area="BISB"] {
  background: rgba(71, 0, 188, 0.15);
  color: #4700bc;
  font-weight: 600;
}

.container-event-area[data-area^="BD"] {
  background: rgba(184, 0, 188, 0.15);
  color: #b800bc;
  font-weight: 600;
}

.container-event-area[data-area^="ETS - DS"] {
  background: rgba(0, 188, 178, 0.15);
  color: #00bcb2;
  font-weight: 600;
}

.container-event-presence {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  border-radius: 5px;
}

.container-event-presence[data-presence="SIM"] {
  background: rgba(0, 188, 64, 0.15);
  color: #00bc40;
  font-weight: 600;
}

.container-event-presence[data-presence="NÃO"] {
  background: rgba(188, 0, 0, 0.15);
  color: #bc0000;
  font-weight: 600;
}

.container-table {
  overflow-x: auto;
  padding: 0 20px 0 0;
}

.container-table::-webkit-scrollbar {
  height: 10px;
}

.container-table::-webkit-scrollbar-track {
  background: transparent;
}

.container-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e0e0e0;
  border: none;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e0e0e0;
  border: 6px solid white;
}
