.settings-container {
  transition: margin-left 0.3s ease;
}

.sidebar-open .section-container {
  margin-left: 34%;
}

.section-container {
  flex: 1;
  padding: 0 10px;
  width: 850px;
  margin: 0 27%;
  transition: margin-left 0.3s;
}

.user-account {
  margin-top: 45px;
  padding-left: 40px;
}

.section-header {
  margin-top: 40px;
  padding-left: 40px;
}

.user-account h2,
.section-header h2 {
  font-size: 20px;
  font-weight: 600;
}

.user-account-data {
  display: flex;
  gap: 80px;
  align-items: center;
  margin: 15px 0 40px 0;
  padding-left: 40px;
}

.user-account-permissions {
  display: flex;
  gap: 18px;
  align-items: center;
  margin: 15px 0 12px 0;
  padding-left: 40px;
}

.user-account-notifications {
  display: flex;
  gap: 80px;
  align-items: center;
  margin: 0px 0 26px 0;
  padding-left: 40px;
}

.user-info p {
  font-size: 14px;
  color: #80868b;
}

.user-account-permissions h4,
.user-account-data h4,
.user-info h4 {
  font-size: 16px;
  color: #17181b;
  font-weight: 550;
}

.theme-backup {
  display: flex;
  gap: 100px;
}

.toggle-btn {
  background-color: #bdc1c6;
  border: none;
  border-radius: 99px;
  width: 40px;
  height: 20px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.toggle-btn .thumb {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.3s ease;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #008fde;
}

.toggle-btn.toggled .thumb {
  left: calc(100% - 15px);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 42px;
  user-select: none;
}

.button-container a {
  text-decoration: none;
  width: 207px;
}

.button-container a span {
  color: #0091E0;
  font-weight: 600;
  text-decoration: none;
}

.button-container > a {
  margin: 40px 0 40px 0;
}