.settings-container {
  transition: margin-left 0.3s ease;
}

.sidebar-open .container-main-settings {
  margin-left: 36%;
}

.container-main-settings {
  flex: 1;
  padding: 10px;
  width: 850px;
  margin: 0 27%;
  transition: margin-left 0.3s;
}

.user-account {
  margin-top: 80px;
  padding-left: 40px;
}

.user-account h2 {
  font-size: 22px;
  font-weight: 600;
}

.user-account-data {
  display: flex;
  gap: 80px;
  align-items: center;
  margin: 20px 0 60px 0;
  padding-left: 40px;
}

.user-info p {
  font-size: 14px;
  color: #80868b;
}

.user-info h4 {
  font-size: 18px;
  color: #17181b;
  font-weight: 550;
}

.navbar-container {
  flex: 1;
  margin-left: 106px;
  border-bottom: 1px solid #dadce0;
  height: 68px;
  transition: margin-left 0.3s ease;
}
