@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 50%;
    margin-right: 15px;
    margin-top: 0px;
    cursor: pointer;
}