/* Logo */
.logo-img-login {
  width: 100%;
  display: flex;
  justify-content: start;
}

.logo-img-login img {
  width: 153.71px;
  height: 32.84px;
  margin-left: 40px;
}

.form-container-password .subtitle-login {
<<<<<<< HEAD
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
=======
  font-size: 15px;
>>>>>>> 697298a (feat: update)
}