.messagemodal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.messagemodal-container.visible {
  opacity: 1;
  visibility: visible;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.messagemodal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 900px;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 108px;
  z-index: 1000;
}

.messagemodal-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ddfa4;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  font-size: 24px;
  margin-bottom: 20px;
}

.messagemodal-content h1 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 14px;
}

.messagemodal-content p {
  color: #282A2D;
  font-size: 18px;
  font-weight: 400;
}
