.sidebar-open .creation-container-main {
  margin-left: 320px;
}

.creation-container {
  transition: margin-left 0.3s ease;
}

.creation-container-main {
  flex: 1;
  display: flex;
  margin-left: 186px;
  justify-content: space-between;
  transition: margin-left 0.3s;
}

.container-menu-create {
  flex: 1;
  border-left: 1px solid #dadce0;
  max-width: 500px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  padding: 40px;
  gap: 20px;
  top: 35px;
}

.creation-container-child {
  margin-top: 100px;
}

.input-style {
  user-select: none;
}

.container-create-event {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 80px;
  margin-bottom: 20px;
}

.container-event-description {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.container-create-event-child {
  width: 100%;
}

.container-event-details {
  display: flex;
  width: 100%;
  gap: 15px;
}

.container-event-details .custom-input {
  width: 100%;
}

.container-menu-create::-webkit-scrollbar {
  width: 12px;
}

.container-menu-create::-webkit-scrollbar-track {
  background: #fff;
}

.container-menu-create::-webkit-scrollbar-thumb {
  background-color: #dadce0ea;
  border-radius: 20px;
  border: 3px solid #fff;
}

.creation-container-main .container-create-event .creation-container-child .title,
.creation-container-main .container-create-event .creation-container-realization .title,
.creation-container-main .container-create-event .creation-container-tickets .title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #17181b;
  margin-bottom: 0;
}

.creation-container-main .container-create-event .creation-container-child .subtitle,
.creation-container-main .container-create-event .creation-container-realization .subtitle,
.creation-container-main .container-create-event .creation-container-tickets .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #80868b;
  margin-bottom: 5px;
}

.creation-container-main .container-create-event .creation-container-child .container-event-description .container-create-event-child .custom-select-css-w9q2zk-Input2 {
  margin-bottom: 0;
}

.container-create-event-child .css-b62m3t-container {
  margin-bottom: 0px;
}

.container-create-event-child .custom-textarea {
  height: 215px;
}

.container-create-event-child .label-textarea {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 7px;
  margin-bottom: 5px;
}

input[type="file"]::-webkit-file-upload-button {
  background: linear-gradient(90deg, #01a4fe 0%, #016298 100%);
  border-radius: 5px;

  color: #fff;
  padding: 7px 14px;
  border: none;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  margin-right: 15px;
  font-weight: 500;
}

input[type="file"] {
  font-family: Poppins, sans-serif;
  width: 100%;
  border: 1px solid #bdc1c6;
  border-radius: 7px;
  height: 45px;
  padding: 5px;
  padding-left: 7px;
}

.input-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-create-event .btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.container-create-event .btn-container :first-child {
  background: linear-gradient(90deg, #01a4fe 0%, #016298 100%);
  border-radius: 7px;
  color: #fff;
  padding: 13px 26px;
  border: none;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: 0.4s;
}

.container-create-event .btn-container :last-child {
  background: #e6f2fa;
  border-radius: 7px;
  color: #017dc7;
  padding: 13px 26px;
  border: none;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: 0.4s;
}

.container-create-event .btn-container :first-child:hover,
.container-create-event .btn-container :last-child:hover {
  background-color: #016298;
  color: #fff;
}

.creation-container .custom-select__control,
.creation-container .css-1jmvyrc-control,
.creation-container .custom-input input {
  height: 45px;
}

.custom-input input:focus,
textarea:focus {
  outline: none;
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.custom-select__input-container select:focus {
  outline: none;
}

@media screen and (max-width: 1660px) {
  .container-menu-create {
    display: none;
  }

  .container-create-event {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding-right: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .container-event-description {
    flex-direction: column;
    gap: 0;
  }

  .container-create-event {
    gap: 50px;
  }

  .container-create-event-child .label-textarea,
  .container-create-event .custom-select label,
  .container-create-event .custom-input label {
    margin-left: 5px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 790px) {
  .container-event-details {
    flex-direction: column;
  }

  .container-create-event .btn-container {
    flex-direction: column;
  }

  .container-event-details {
    gap: 0;
  }
}