.sidebar-open .creation-container-main {
    margin-left: 320px;
}

.creation-container {
    transition: margin-left 0.3s ease;
}

.creation-container-main {
    flex: 1;
    display: flex;
    margin-left: 186px;
    justify-content: space-between;
    transition: margin-left 0.3s;
}

.container-menu {
    flex: 1;
    border-left: 1px solid #dadce0;
    padding: 20px;
    max-width: 500px;
    height: calc(100vh - 68px);
    overflow-y: auto;
    display: flex;
    align-items: center;
}

.creation-container-child {
    margin-top: 75px;
}

.container-create-event {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: calc(100% - 500px);
    padding-right: 80px;
}

.container-event-description {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.container-create-event-child {
    width: 100%;
}

.container-event-details {
    display: flex;
    width: 100%;
    gap: 15px;   
}
