.schedule-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #17181B;
    margin-bottom: 0;
    margin-top: 50px;
}

.schedule-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #80868B;
    margin-top: 0;
    margin-bottom: 30px;
}

.container-main {
    padding-bottom: 60px;
    /* padding-right: 30px; */
}