.simple-event-card {
  position: relative;
  width: 410px;
  height: 147px;
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 33px;
}

.rectangle-event {
  position: absolute;
  width: 10px;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px 0px 0px 10px;
}

.date-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date-icon p {
  font-size: 14px;
  color: #80868b;
}

.material-icons-outlined {
  font-size: 24px;
  color: #5f6368;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.auth-code h4,
.event-details h4 {
  font-size: 18px;
  font-weight: 500;
  color: #17181b;
}

.auth-code p {
  font-size: 14px;
  color: #17181b;
}

.event-area {
  font-size: 14px;
  color: #5f6368;
}

.qrcode {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.qrcode img {
  width: 100px;
  height: 100px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  user-select: none;
}

.event-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 28px;
  border-radius: 5px;
}

/* rectangle-event */

.rectangle-event[data-area^="AMB"] {
  background: #008fbc;
}

.rectangle-event[data-area^="HR"] {
  background: #8bbc00;
}

.rectangle-event[data-area^="BD"] {
  background: #b800bc;
}

.rectangle-event[data-area^="ETS"] {
  background: #00bcb2;
}

/* event-area */

.event-area[data-area^="AMB"] {
  background: rgba(0, 143, 188, 0.15);
  color: #008fbc;
  font-weight: 600;
}

.event-area[data-area^="HR"] {
  background: rgba(139, 188, 0, 0.15);
  color: #8bbc00;
  font-weight: 600;
}

.event-area[data-area^="BD"] {
  background: rgba(184, 0, 188, 0.15);
  color: #b800bc;
  font-weight: 600;
}

.event-area[data-area^="ETS"] {
  background: rgba(0, 209, 199, 0.15);
  color: #00bcb2;
  font-weight: 600;
}
